<ion-content>
  <ion-header collapse="condense" style="display: flex; align-items:flex-start;">
    <ion-toolbar>
      <img style="height: 50px; width: 50px;margin-left: 15px; margin-top: 10px;"
        src="../../../assets/Img/Logo_Flamengo_crest_1980-2018.png">
      <ion-text style="margin-left: 15px; margin-bottom: 40px;"> Flamengo Club</ion-text>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <h3>Escudos Do Flamengo</h3>
    </ion-card-header>
    <ion-card-content class="Escudos">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-label>1856</ion-label>
              <ion-img src="../../../assets/Img/c-r-flamengo-1895-a-1896-logo-EE159A6655-seeklogo.com_.png"
                class="Escudo"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>1857</ion-label>
              <ion-img src="../../../assets/Img/0844a44d9a09299abffd94b0c94392e7.png" class="Escudo"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>1858</ion-label>
              <ion-img src="../../../assets/Img/Flamengo 1895.PNG" class="Escudo"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>1895</ion-label>
              <ion-img src="../../../assets/Img/Flamengo 1958.PNG" class="Escudo"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>1944</ion-label>
              <ion-img src="../../../assets/Img/1944.PNG" class="Escudo"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>1981</ion-label>
              <ion-img src="../../../assets/Img/1981.PNG" class="Escudo"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>2000</ion-label>
              <ion-img src="../../../assets/Img/2000.PNG" class="Escudo"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>2001</ion-label>
              <ion-img src="../../../assets/Img/2001.PNG" class="Escudo"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>2004</ion-label>
              <ion-img src="../../../assets/Img/2004.PNG" class="Escudo"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>